// Variables
$font-body: "Roboto";
$font-custome :'Playfair Display',
serif;
// Colors
$background-color: #0D0D0D;
$dark-theme: #212121;
$dark-theme-text: #FAFAFA;
$light-theme: #FAFAFA;
$light-theme-text: #000;
$dark-grey: #333333;
$slategray: #EBEBEB;
$grey: #FAFAFA;
$snow: #FFF;

// Sizing/Spacing
$gutter: 1.618em;
$apart: $gutter / 2;
$header-height: $apart*3;
$section-gutter-top: $gutter * 3;
$section-gutter-bottom: $gutter * 5;
$kernel: 0.25em;
$brand-kernel: 0.085em;
$width: 900px;
// Helpers
