/*
*  Custome Styles
*/
// Variables
$font : "Abel";
$font-body : "Open Sans";
$font-custome :'Libre Barcode 39 Text', cursive;

$blue : #361FF9 ;
$grey : #F8F8F8 ;
$grey-cloud : #F5F5F5 ;
$light-red : #FEEAEA;
$light-green : #EAFEEA;
$light-blue : #EAEAFE;
$light-yellow : #EAEAAA;
$space : 1.77em * 2;
$kernel : 0.25em;
$brand-kernel : 0.075em;
$width : 1200px;
// Helpers

@mixin gradient($angle, $color1, $percentage, $color2, $alpha) {
  background-image: linear-gradient($angle, $color1 $percentage, rgba($color2, $alpha));
}

// Animations


@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

/*
* Reset styles
*/

html { font-size: 100%;}
body {
  background-color: $grey;
  font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
}

.container {
  max-width: $width;
}

// Branding
.brand {
  margin: 0 auto;
  width: 80%;
  padding-top: $space;
  &--logo {
    font-size: 4.8rem;
    font-family: $font-custome;
    text-transform: uppercase;
    letter-spacing: $brand-kernel;
  }
}
// Footer copy

.legal {
  margin-bottom: $space;
  font-family: $font;
}

// Menu Styles
.menu {
  text-transform: uppercase;
  font-family: Abel;
  &--items li {
    font-weight: bold;
  }
  &--items li a {
    color: #000;
    letter-spacing: $kernel;
  }
}

// Profile

.profile-img img {
  width: 100%;
}
// CV module

// Cards
.card {
  &--hire {
    min-height: 25em;
    background-color: #ffefd5;
  }
  &--org  {
    min-height: 25em;
    background-color: #ffc0cb;}
}
// Media Breakpoints

@media (min-width: 300px) and (max-width: 736px) {
  .brand--logo {
    font-size: 2.8rem;
  }
}

@media (min-width: 300px) and (max-width: 768px) {

}

@media (min-width: 737px) {

}

@media (min-width: 1024px) {

}
