/*
*  Custome Styles
*/
// Variables
$font : "Abel" , sans-serif;
$blue : #361FF9 ;
$grey : #F8F8F8 ;
$grey-cloud : #F5F5F5 ;

/*
* Header styles
*/
h1, h2, h3, h4, h5, h6 {
  font-family: $font;
}
body {
  background-color: $grey;
}
.nav {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: .9em;
}
.nav--items {
  float: right;
  font-family: $font;
  li {
    margin-left: 6em;
  }
  a {
    color: #000;
    position: relative;
    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      top: 30px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(90deg, $blue 32%, rgba(255, 255, 255, .1));
      opacity: 0;
      transition: opacity 0.45s;
    }
    &:hover {
      color: $blue;
      &:after {
        opacity: 1;
      }
    }
  }
}
.logotype {
  font-family: $font;
  padding-top: 1em;
  float: left;
  // letter-spacing: .25em;
  span {
    color: #000;
  }
  object{
    width: 1em;
    margin-right: 1em;
  }
}
.poster-container {
  height: 30em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poster {
  width: 250px;
  height: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ic-square {
  width: 1em;
  height: 1em;
  background-color: #000;
  position: absolute;
  left: 0;
  &:before, &:after {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
  }
  &:before {
    right: .5em;
    background-color: rgba(#000, 0.50);
  }
  &:after {
    left: .5em;
    background-color: rgba(#000, 0.25);
  }
}
.ic-circle {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: #000;
  position: absolute;
  right: 0;
  &:before, &:after {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 100%;
    position: absolute;
    top: 0;
  }
  &:before {
    right: .5em;
    background-color: rgba(#000, 0.50);
  }
  &:after {
    left: .5em;
    background-color: rgba(#000, 0.25);
  }
}
.ic-triangle {
  width: 0;
  height: 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: 1em solid black;
  position: absolute;
  left: 50%;
  bottom: 0;
  &:before, &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
  }
  &:before {
    right: .1em;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-bottom: 1em solid rgba(black, .50);
  }
  &:after {
    left: .1em;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-bottom: 1em solid rgba(black, .25);
  }
}
.ic-device {
  height: 14px;
  width: 21px;
  position: relative;
  right: 4em;
  float: right;
  border: 1px solid black;

  &:before {
    content: 'desktop';
    position: absolute;
    left: 24px;
    bottom: -8px;
    float: right;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: 11px;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 6px;
    margin: 0 auto;
    width: 7px;
    height: 4px;
    background-color: $grey;
  }
}
@media (min-width: 300px) and (max-width: 426px) {
  .poster-container {
    display: none;
  }
  .logotype {
    text-align: center;
    width: 100%;
    font-size: 1.6em;
    object {
      margin-right: 0;
    }
    span {
      display: block;
      margin-top: 1em;
    }
  }
  .nav--items {
    text-align: center;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    li {
      font-size: 1.35em;
      float: none;
      width: 100%;
      display: block;
      margin: 0;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
@media (min-width: 300px) and (max-width: 768px) {
  .ic-device {
    height: 14px;
    width: 7px;
    position: relative;
    right: 4em;
    float: right;
    border: 1px solid black;

    &:before {
      content: 'mobile';
      position: absolute;
      left: 18px;
      bottom: -8px;
      float: right;
      text-transform: uppercase;
      letter-spacing: .25em;
      font-size: 11px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 2px;
      margin: 0 auto;
      width: 1px;
      height: 4px;
      background-color: $grey;
    }
  }
}
