/*
*  Custome Styles
*/
// Variables

$font-body : "Roboto";
$font-custome :'Playfair Display', serif;


$background-color : #0D0D0D;

$dark-theme: #212121;
$dark-theme-text: #FAFAFA;
$light-theme: #FAFAFA;
$light-theme-text: #000;

$dark-grey: #818181;
$slategray: #EBEBEB;
$grey : #FAFAFA;
$snow: #FFF;

$icecube : #1565C0;
$badass : #BADA55;
$fire: #F44336;
$teal : #008080;
$pink : #880E4F;
$green : #006064;


$space : 1.45em*2;
$apart : $space / 2;
$kernel : 0.25em;
$brand-kernel : 0.085em;
$width : 900px;


// Helpers

@mixin gradient($angle, $color1, $percentage, $color2, $alpha) {
  background-image: linear-gradient($angle, $color1 $percentage, rgba($color2, $alpha));
}

@mixin box-shadow {
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}
@mixin style-card($fillColor) {
  @include gradient(45deg, $fillColor, 45% , $fillColor, .7);
  @if (lightness($fillColor) > 40){
    color: $background-color;}
  @else { color: $grey;}
}

/*
* Reset styles
*/

html.wf-active {
  font-family: $font-body;
}

html { font-size: 100%;}
body {
  background-color: $grey;
  font-family: $font-body;
  font-weight: 300;
  color: $light-theme-text;
}
.wf-active {
  h1, h2, h3 {
    font-family: $font-custome;
  }
}

.box-shadow{
  @include box-shadow;
}

.min-height{
  min-height: 23rem;
}

.nopb{padding-bottom: 0;}

.section-heading{
  color: $light-theme-text;
  font-weight: 900;
  text-transform: capitalize;
}

.section-lead{
  color: $light-theme-text;
}

.section-display{
  color: $dark-theme-text;
  text-transform: capitalize;
  font-weight: 700;
  font-family: $font-custome;
}

.button-ghost{
  border-color: inherit;
  &:hover{
    background-color: #283593;
  }
}

#email-handle {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: $apart;
  margin-bottom: $apart;
  svg{
    text{
      font-family: $font-custome;
    }
  }
  div {
    max-width: 100%;
    width: 736px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../build/images/email.png");
  }
}

.masthead {
  text-align: left;
  background-color: $light-theme;
  padding-bottom: $space*2;
  min-height: 620px/2;
}

.brand-logo{
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: $light-theme-text;
  box-shadow: 0 2px 5px 1px rgba(#000,.25);
}

// Menu Styles
.menu {
  padding-top: 10px;
  border-bottom: 1px solid $slategray;
  padding-bottom: 10px;
  text-transform: capitalize;
  text-align: right;
  li {margin-right: 0;}
  li:last-child a {
    color: $icecube;
    font-weight: 400;
  }
  &--items li a {
    color: $dark-theme;
    font-size: small;
    font-weight: 300;
    margin-left: $space;
    margin-right: 0;
    position: relative;
    transition: all .25s ease-in;
    &:after{
      content: '';
      position: absolute;
      top: 28px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      transition: all .25s ease-in;
    }
    &:hover {
      color: $icecube;
      &:after{
        background-color: $icecube;
      }
    }
  }
  .brand-logo{
    transition: all .45s ease-in;
    &:hover{
      transform: scale(1.25);
      background-color: $icecube;
    }
  }
}

.hero {
  padding-top: $space;
  max-width: 900px;
  min-height: 500px;
  &--title{padding-top: $apart/2;color: $light-theme-text;}
  &--name{
    font-weight: 900;
    line-height: 2;
  }
}

// Main
.main {
  background-color: $light-theme;
  section{padding-top: $space;}
}

// Profile
#profile{
  padding-bottom: $space;
  background-color: $icecube;
  min-height: 480px;
  color: $snow;
  .section-lead,
  .section-heading {color: $snow;}
}
.profile {
  &--image {
    max-width: 100%;
    min-height: 400px;
    margin-top: $space;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 10px 6px -6px rgba(#000,.1);
    &:before,&:after{
      content: '';
      max-width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #1565c0;
      background-blend-mode: overlay;
    }
    &::before{
      background-image: url(../build/images/pro-01.jpg);
      filter: brightness(1.75);
    }
    &::after{
      background-image: url(../build/images/pro-02.jpg);
      transition: all .5s cubic-bezier(0, 0, 0.2, 1);
      box-shadow: 0 5px 16px 6px rgba(#000,.1);
      filter: brightness(1.85);
      opacity: 0;
    }
    &:hover{
        &:after{
          opacity: 1
        }
    }
  }
  &--title {
    position: absolute;
    width: 605px;
    top: -40px;
    right: 172px;
    left: 0;
  }
}

// CV module
#cv{
  .group{
    display: inherit;
    align-items: center;
    justify-content: center;
  }
}
.cv {
    margin-top: $space;
    background-color: $icecube;
    color: $dark-theme;
    @extend .box-shadow;
    li{
      padding-bottom: $apart/2;
    }
  &--heading {
    text-align: center;
    font-weight: 900;
    text-transform: capitalize;
    color: $snow;
    margin: 0 $apart;
  }
  &--content {
    text-transform: capitalize;
    padding-top: $space;
    padding-left: $apart;
    padding-right: $apart;
    padding-bottom: $apart;
    background-color: white;
    li {list-style: none}
  }
  &--degree {
    font-weight: 700;
    font-family: $font-custome;}
  &--date {
    font-family: $font-custome;
    }
  &--place {
    text-transform: capitalize;}
}

#projects {
  .group{
    @extend .box-shadow;
    margin-top: $space;
    .card{padding-top: 0;}
  }
}
// Cards
.card {
  padding-top: $space;
  .button-secondary {
    color: inherit;
    border-color: inherit;
    margin-bottom: $space / 2;
    &:hover {
      background-color: rgba($snow, 0.2);
    }
  }
  &--hire {
    background-color: $snow;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      right: 0;
      border-bottom: 12px solid $fire;
    }
  }
  &--org  {
    background-color: $snow;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      right: 0;
      border-bottom: 12px solid $pink;
    }
  }
  &--project-badass {
    @include style-card($badass);
    .button-secondary {
      color: inherit;
      border-color: inherit;
    }
  }
  &--project-icecube {
    @include style-card($teal);
    .button-secondary {
      color: inherit;
      border-color: inherit;
    }
  }
  &--title {
    color: inherit;
    font-family: $font-custome;
    font-weight: 900;
    text-transform: capitalize;}
  &--date {
    text-transform: uppercase;
  }
}

// Contact
#contact {
  .group{
    @extend .box-shadow;
    margin-bottom: $space;
    margin-top: $apart;
    .card{padding-top: 0;}
    }
}
.contact-card {
  text-align: center;
  .section-display{color: $dark-grey;}
  .big-email {
    font-size: 4em;
    font-family: $font-custome;
    font-weight: 900;
    text-transform: lowercase;
    margin-top: $apart/2;
    cursor: pointer;
    &:hover {
      opacity: .75
    }
    a {
      color: $grey;
    }
  }

  .social-menu {
    padding-top: $space;
    margin-bottom: $space;
    li{margin-left: $space;margin-right: $space;margin-bottom: $apart;}
    li svg {
      width: 1.45em;
      height: 1.45em;
      fill: $dark-grey;
    }
    li a {
      transition: all .45s ease-in;
      &:hover svg{
        fill: $icecube;
      }
    }
  }
}
// Footer copy
footer hr {opacity: .25}
.legal {
  font-family: $font-custome;
  color: $light-theme-text;
  padding-left: $space;
  a{color: inherit; text-decoration: underline;}
}

// Media Breakpoints

@media (max-width: 48em) {
  .hero--title {font-size: 2.4em;}
  .menu--items li {font-size: 12px;}
  .profile--title {width: 374px;}
  .contact-card .big-email{
    margin-top: 0;
  }
  #email-handle{
    margin-top: $apart/2;
    margin-bottom: $apart/2;
  }
  .hero{
    min-height: 360px;
  }
}

@media (min-width:48em) {
  #cv{
    .group{
      display: flex;
    }
  }
}

// @media (min-width: 300px) and (max-width: 768px) {
//
// }
//
@media (max-width: 48em) {
  .contact-card .social-menu li{
    margin-left: $apart;
    margin-right: $apart;
  }
}
//
// @media (min-width: 1024px) {
//
// }
