/*  Utilities  */
// .icon
//   width: 3.2rem
//   height: 3.2rem
//   margin: 0 16px
//   transition: all 300ms ease
//   &:hover
//     transform: scale(1.2)
//     path
//       fill: $gray
//
// .icon-color
//   fill: $blue
//
// // icon size variations
.mini-icon
  width: 20px
  height: 20px

.lg-icon
  width: 42px
  height: 42px

.xl-icon
  width: 54px
  height: 54px

.lowercase
  text-transform: lowercase
  letter-spacing: .2rem

.divider
  width: 100%
  height: 1px
  background-color: rgba($gray, .2)
  margin-top: $maxMargin

.photo
  display: block
  width: 9.5 * $base
  height: 9.5 * $base
  margin: $minMargin * 1.8 auto
  // margin-right: $maxMargin
  transition: transform 0.3s ease-in
  background-size: contain
  overflow: hidden
  border-radius: 50%

  img
    width: 100%
    height: auto

.blurb
  // max-width: calc($wContainer - 20%)
  font-weight: 300
  text-align: left

.quote
  font-weight: 300
  text-shadow: 1px 1px 0 rgba($black, 0.7)

.heading
  color: $gray
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.2rem

.text-center
  text-align: center

.text-left
  text-align: left
