//- Config 
- var description    = "The Personal Website of Giovanni Lara - Front-End Developer";
- var keywords       = "Web, Programming, Front-end, UX, UI, Design, Fun";
- var firstName      = "Giovanni";
- var lastName       = "Lara";
- var fullName       = firstName + " " + lastName;
- var nickname       = "(aka Gio)"; 
- var title          = fullName + " | Front-end Developer";
- var role           = "Front-End Developer";
- var intro          = "I design awesome websites for awesome people!";

- var aboutMeBlurb   = "<strong>Hello</strong>, I'm Giovanni a front-end developer from San Jose California. I'm a skilled and creative developer who understands development, brand identity, design and usability.";
- var interests      = "Web Development, Design, Technology, Programming, Football (a.k.a Soccer), Arts and Multimedia"
- var frontEndSkills = "HTML/5, CSS/3, javascript, and jQuery.";
- var workflow       = "Text editor: Atom.io <br> Build tools: Gulp and Grunt <br> VCS: GitHub <br> Preprocessors: SASS and Jade <br> Frameworks: AngularJS, Foundation, Bootstrap <br> Design tools: paper, pencil, pen, markers, color pencils, Adobe Creative Suite, Sketch, Gimp, and Inkscape <br> Animations: GSAP Animations <br> Browser tools: Chrome Dev tools <br> Operating systems: Linux and Windows";
- var contactBlurb   = "I'm looking for an entry-level position as Jr front-end developer."; 
- var quote          = "May the force be with you!";
//- paths

- var logoPath       = "images/logo.svg";
- var cssPath        = "css/all.min.css";
- var jsPath         = "js/app.min.js";
- var photoPath      = "images/giovanni.jpg";

//- Contact 

- var github         = "https://github.com/gioalo";
- var behance        = "https://www.behance.net/giolara";
- var codepen        = "http://codepen.io/Giovanni";
- var linkedin       = "https://www.linkedin.com/pub/giovanni-lara/103/619/a7b";
- var email          = "hello.giolara@gmail.com";
- var emailTo        = "mailto:" + email;
- var links          = [{name: "email", link: emailTo},{name: "behance", link: behance},{name: "codepen", link: codepen}, {name: "linkedin", link: linkedin},{name: "github", link: github}];
