//- footer
footer.page__foot.u-align-center
  p.u-left Contact
    a(href=email) hello.giolara@gmail.com

  p.u-left Say hi, 
    a(href="https://twitter.com/GiovanniDeAndre") @GiovanniDeAndre

  ul
    li
      p Follow me @
    li 
      a(href="https://github.com/gioalo") GitHub
    li 
      a(href="http://codepen.io/Giovanni") CodePen 
    li 
      a(href="https://www.instagram.com/giokirito/") Instagram

  
//- scripts
//- script(type="application/javascript", src=pathToJs)
