//- footer
footer.footer.group

  .grid-third
    p 
      span.plus
      | Contact
      a(href=email) hello.giolara@gmail.com
  .grid-third
    p
      span.plus
      | Say hi, 
      a(href="https://twitter.com/GiovanniDeAndre") @GiovanniDeAndre
  .grid-third
    ul
      li
        span.plus 
        span Follow me @
      li 
        a(href="https://github.com/gioalo") GitHub
      li 
        a(href="http://codepen.io/Giovanni") CodePen 
      li 
        a(href="https://www.instagram.com/giokirito/") Instagram
  
  
//- scripts
//- script(type="application/javascript", src=pathToJs)
