//- footer
footer.footer.group
  .grid-2
    p 
      | Contact: 
      a(href=email) hello.giolara@gmail.com
  .grid-3
    p
      | Say hi, 
      a(href="https://twitter.com/GiovanniDeAndre") @GiovanniDeAndre
  .grid-3
    ul.footer--social
      li Follow me @
      each link in links
        li 
          a(href=link.href aria-label=link.id)= link.id
            //- svg
            //-   use(xlink:href="#" + link.id)
  
  
//- scripts
//- script(type="application/javascript", src=pathToJs)
