<!-- Navigation -->
nav(role="navigation").menu.u-clearfix 
  ul.row.menu--items
    li.l-feat
      a(href="#profile").ic 
        i.ic-circle
        span profile 
    li.l-feat 
      a(href="#projects").ic 
        i.ic-triangle
        span projects
    li.l-feat 
      a(href="#contact").ic 
        i.ic-square 
        span let's talk 
<!-- END Navigation -->       

//- object(type="image/svg+xml" data="build/images/gio-logo.svg")
