<!-- Navigation -->
nav(role="navigation").menu.u-list-inline 
  ul.menu--items
    li
      a(href="#projects") projects
    li
      a(href="#profile") profile 
    li
      a(href="#contact") let's talk 
<!-- END Navigation -->       

//- object(type="image/svg+xml" data="build/images/gio-logo.svg")
