<!-- Navigation -->
.grid-4
  .brand-logo
    object(alt="logo" aria-label="logo" id="logo" type="image/svg+xml"   data="/build/images/logo.svg")
  nav(role="navigation").main-menu
    ul#js-menu.menu
      //- li
      //-   a(href="#profile") profile 
      li
        a(href="#cv") CV
      li
        a(href="#projects") projects
      li
        a(href="#contact") let's talk! 
      li
        a(href="#sayhello") say hello! 
<!-- END Navigation -->       

