//- wrapper
//----------------- 

//- Get configuration data

include ../_config.jade

//- Get components
doctype html
html
  include _head.jade
  //- body
  body
    //- <!-- Main Page -->
    .main.container
      include ../sections/_header.jade
      include ../sections/_about.jade
      include ../sections/_contact.jade
      
      <!-- Footer -->
      include _foot.jade
      <!-- End Footer -->
      
    //- <!-- End Main Page -->
    <!-- Main Content -->
    //- Includes sections 
    //- .page.container
        include ../sections/_about.jade
        include ../sections/_projects.jade
        include ../sections/_contact.jade
        <!-- End Main content -->
    
  
  
  
