//- wrapper
//----------------- 

//- Get configuration data

include ../_config.jade

//- Get components
doctype html
html
  include _head.jade
  //- body
  body
    .fullpage-container
      //- .page
      .l-content-block
        include ../sections/_header.jade
        include _foot.jade
  
