//- wrapper
//----------------- 

//- Get configuration data

include ../_config.jade
include ../_mixins.jade
//- Get components
doctype html
html(lang="en")
  include _head.jade
  //- body
  body
    //- include _svg-icons.jade
    //- #home.u-pad-bottom-double
    //-   .container
    //-     include ../sections/_header.jade
    //-     include ../sections/_about.jade
    //- <!-- Main Page -->
    //- include ../sections/_cv.jade
    //- include ../sections/_projects.jade
    //- include ../sections/_contact.jade
    
    .poster
      .container.poster--wrapper
        .poster--content
          .group
            .grid-8
              .poster--header
                p.poster--small-type.u-align-left Hola, I'm 
                h2.poster--type Giovanni Lara
                p.poster--small-type.u-align-right Front End Developer
                  span.line
              .button.u-align-center 
                a(href=linkToContactForm).button-secondary Hire me
          <!-- Footer -->
          include _foot.jade
      //- .gradient
    //- Photo by Jeremy Bishop on Unsplash
    //- .back-home 
      //- a(href="#home") &uarr;
    <!-- End Footer -->
    <!-- End Main Page -->
    <!-- Main Content -->
    include _scripts.jade
    
