//- wrapper
//-----------------

//- Get configuration data

include ../_config.jade
include ../_mixins.jade
//- Get components
doctype html
html(lang="en")
  include _head.jade
  //- body
  body
    main.page
      .page__brand-logo
        <svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1"><g><rect x="0" y="0" width="24" height="24" style="fill:#0c0d0d;"/><g><path d="M12.926,5c0.797,0 1.475,0.14 2.036,0.42c0.56,0.28 0.982,0.668 1.267,1.163c0.284,0.494 0.44,1.057 0.466,1.687l-3.073,0c-0.079,-0.184 -0.215,-0.326 -0.407,-0.427c-0.193,-0.1 -0.438,-0.151 -0.736,-0.151c-0.56,0 -1.026,0.182 -1.398,0.545c-0.372,0.364 -0.615,0.861 -0.729,1.491c-0.044,0.245 -0.066,0.455 -0.066,0.63c0,0.517 0.145,0.902 0.434,1.156c0.288,0.254 0.735,0.381 1.339,0.381c0.674,0 1.265,-0.271 1.773,-0.814l-2.324,0l0.367,-2.062l4.741,0l-0.512,2.915c-1.042,1.681 -2.644,2.522 -4.807,2.522c-0.831,0 -1.547,-0.158 -2.147,-0.473c-0.6,-0.315 -1.057,-0.759 -1.372,-1.333c-0.316,-0.573 -0.473,-1.241 -0.473,-2.003c0,-0.359 0.031,-0.709 0.092,-1.05c0.157,-0.893 0.488,-1.688 0.991,-2.384c0.504,-0.696 1.147,-1.239 1.931,-1.629c0.784,-0.389 1.653,-0.584 2.607,-0.584Z" style="fill:#fefffe;fill-rule:nonzero;"/><path d="M16.649,14.456l-9.298,1.628l0,2.916l9.298,-1.629l0,-2.915Z" style="fill:#fefffe;fill-rule:nonzero;"/></g></g></svg>
      header
        p
          strong Hola, I'm
        h1.page__headline Giovanni De Andre
        span.line
        h4.page__intro Front end development is my thing. I love designing intuitive visual user interfaces with minimalistic aesthetics. I’m also a web performance geek.
          strong  I don't bite
          | ,
          |
          a(href=email) get in touch
        .page__hire
          a(href=linkToContactForm).page__btn hire me
      footer
        ul
          li
            a(href=email) hello.giolara@gmail.com
          li
            a(href="https://github.com/gioalo") GitHub
          li
            a(href="http://codepen.io/GiovanniLara") CodePen
          li
            a(href="https://twitter.com/GiovanniDeAndre") @giovannideandre
        //- include _foot.jade
    //- script(type="application/javascript", src=pathToJs)

