//- wrapper
//----------------- 

//- Get configuration data

include ../_config.jade

//- Get components
doctype html
html
  include _head.jade
  //- body
  body
    include ../sections/_homepage.jade
    //- <!-- Main Page -->
    //- .main.container
    //- <!-- End Main Page -->
    <!-- Main Content -->
    //- Includes sections 
    .page.container
        include ../sections/_about.jade
        include ../sections/_projects.jade
        include ../sections/_contact.jade
        <!-- End Main content -->
        <!-- Footer -->
        include _foot.jade
        <!-- End Footer -->
            
    
  
  
  
