//- wrapper
//----------------- 

//- Get configuration data

include ../_config.jade
include ../_mixins.jade
//- Get components
doctype html
html(lang="en")
  include _head.jade
  //- body
  body
    include _svg-icons.jade
    //- #home.u-pad-bottom-double
    //-   .container
    //-     include ../sections/_header.jade
    //-     include ../sections/_about.jade
    //- <!-- Main Page -->
    //- include ../sections/_cv.jade
    //- include ../sections/_projects.jade
    //- include ../sections/_contact.jade
    main.poster
      .container
        .poster--content
          h2.poster--type Giovanni Lara
            br
            span(style="font-size: 16px") &mdash; Jr. Front End Developer

      <!-- Footer -->
      include _foot.jade
    //- Photo by Jeremy Bishop on Unsplash
    //- .back-home 
      //- a(href="#home") &uarr;
    <!-- End Footer -->
    <!-- End Main Page -->
    <!-- Main Content -->
    include _scripts.jade
    
