//- wrapper
//----------------- 

//- Get configuration data

include ../_config.jade
include ../_mixins.jade
//- Get components
doctype html
html(lang="en")
  include _head.jade
  //- body
  body
    include _svg-icons.jade
    //- .background-shape
    include ../sections/_header.jade
    <!-- Main Page -->
    include ../sections/_about.jade
    .main
      .container.l-content.l-centered
        include ../sections/_cv.jade
        include ../sections/_projects.jade
        include ../sections/_contact.jade
        <!-- Footer -->
        include _foot.jade
        <!-- End Footer -->
      <!-- End Main Page -->
    <!-- Main Content -->
    include _scripts.jade
  
