section.page--content#profile
  h4 profile
  .row
    .grid-2.grid-mobile-full.profile-img
      img(src=pathToProfileImg, alt="Giovanni")
    .grid-2.grid-mobile-full
      h2
        b.u-upper #{author} 
        br
      h3 &dash; #{title}. Geek. SciFi junkie. Crazy football fan.
      h3!= intro.replace(/california|tech|design|programming|front-end|/gi, function toBold(w){ return w.bold(); })
  ul.cv.row
    li.grid-2
      span.cv--heading skills
      ul.cv--content 
        li html/5 (ninja)
        li css/3 &amp; sass 
        li bem, smacss &amp; oocss
        li js - can get by
        li jquery &amp; alike plugins!
        li frameworks foundation, bootstrap &amp; primalcss
        li wireframing/prototype
        li adobe design suite
        li Responsive Web design (expert)
        li git
        li terminal (linux/unix!)
    li.grid-2
      span.cv--heading Interests / hobbies 
      ul.cv--content
        li web programming
        li arts
        li minimalism 
        li football (aka soccer)
        li wheelchair rugby aka murderball
        li social &amp; human rights
        li running
        li cooking
        li latin music, blues, soul, r&amp;b, &amp; jazz
        li novelas
        li sci-fi , dragons and zombies in that order
        li manga &amp; anime
    li
      span.cv--heading languages
      ul.cv--content
        li Spanish &dash; mother language
        li english &dash; can get by 
    li
      span.cv--heading education 
      ul.cv--content
        li
          span.cv--date 2016
          span.cv--title web development
          span.cv--place San jose city college , san jose ca
       
        li
          span.cv--date 2008
          span.cv--title Graphic design vocational certification
          span.cv--place Metropolitan education distric of santa clara, san jose ca
        li 
          span.cv--date 2008
          span.cv--title h.s diploma
          span.cv--place Mount pleasant h.s , san jose ca
       
