section#profile
  .container.l-content.l-centered
    +section-heading('profile')
    .group
      .grid-2.grid-mobile-full
        .img
          .profile--image
      .grid-2.grid-mobile-full
        .profile--blurb
          +section-lead(lead)
          p= intro
          p.
            If you like to hire me,
            #[em I'm available!] 
          a(href="#contact").button-primary.button-ghost Let's talk!
    
