section#profile
  .container.l-content.l-centered
    .group
      .grid-2.grid-mobile-full
        +section-heading('profile')
        .profile--blurb
          +section-lead(lead)
          p= intro
          p.
            If you like to hire me,
            #[em I'm available!] 
          a(href="#contact").button-primary.button-ghost Let's talk!
      .grid-2.grid-mobile-full
        .profile--image
