section.page--content.group#profile
  h4 profile
  .grid-2.grid-mobile-full.profile-img
    img(src=pathToProfileImg, alt="Giovanni")
  .grid-2.grid-mobile-full
    h1
      b #{author}
      br
    h2 #{title}. Geek. SciFi junkie. Crazy football fan.
    p!= intro.replace(/california|tech|design|programming|front-end|/gi, function toBold(w){ return w.bold(); })
section#cv.group.cv
  .grid-1
    span.cv--heading skills
    ul.cv--content 
      li html/5 (ninja)
      li css/3 &amp; sass 
      li bem, smacss &amp; oocss
      li js - can get by
      li jquery &amp; alike plugins!
      li frameworks foundation, bootstrap &amp; primalcss
      li wireframing/prototype
      li adobe design suite
      li Responsive Web design (expert)
      li git
      li terminal (linux/unix!)
  .grid-1
    span.cv--heading languages
    ul.cv--content
      li Spanish &dash; mother language
      li english &dash; can get by 
  .grid-1
    span.cv--heading Interests / hobbies 
    ul.cv--content
      li web programming
      li arts
      li minimalism 
      li football (aka soccer)
      li wheelchair rugby aka murderball
      li social &amp; human rights
      li running
      li cooking
      li latin music, blues, soul, r&amp;b &amp; jazz
      li novelas
      li sciFi junkie
      li manga, anime and alike animation
  .grid-1
    span.cv--heading education 
    ul.cv--content
      li
        span.cv--date 2016
        span.cv--title web development
        span.cv--place San jose city college , san jose ca
     
      li
        span.cv--date 2008
        span.cv--title Graphic design vocational certification
        span.cv--place Metropolitan education distric of santa clara, san jose ca
      li 
        span.cv--date 2008
        span.cv--title h.s diploma
        span.cv--place Mount pleasant h.s , san jose ca
     
