#profile.group.profile
  .grid-2.grid-mobile-full
    .image-wrapper
      .profile--image
  .grid-2.grid-mobile-full.profile--blurb
    h1.hero-headline= lead
      
    h3.hero-sub-heading Jr. Front End Dev. Designer. Geek. SciFi Junkie &amp; football (aka soccer to Americans) aficionado. 
    
    p.
      #{intro}
      If you like to hire me,
      #[em I'm available!] 

    a(href="#contact").button-primary.button-round.button-cta.button-shadow.u-center-mobile HIRE ME

