section.page--content#contact 
  h4 Let's talk
  br
  .group 
    .grid-2
      .card
        .card--hire.u-box
          h4.card--content--title hire me please!
          p If you would like to hire me for your next awesome project, I'm available!
          button.button-secondary hire me
    .grid-2
      .card
        .card--org.u-box
          h4.card--content--title I do Pro-bono work  
          p If you are a non-profit organization with a good cause that helps our communities strive and do great things for those in need, I'm here to help too, please get in touch let's make something awesome together!
          button.button-secondary help me!
.group
  p.t-body.l-content.l-centered.u-align-center if you have a question, advice or simply want to say whatz up! send me a line or a few, I'll be looking for your email, I won't stuck you I promise! ;)
  br
  h1.u-upper.u-align-center
    a(href="#{email}") hello.giolara@gmail.com
br
h4 check my interweb stuff 
ul
  li codepen
  li github
  li instagram
  li youtube
