section#contact.section_ligthslate
  .container 
    +section-heading("Let's talk")
    .group 
      .grid-2.contact
        .contact--content
          h3.contact--title_hire I'm for hired!
          p.contact--content Have a project to discuss with me. I'm available and ready to start as ASAP as possible (bad joke!) but really still hire me please! Let's make something awesome!
          a(href=linkToContactForm rel="noopener").button-secondary.button-shadow hire me
      
      .grid-2.contact
        .contact--content
          h3.contact--title_org I do Pro-bono work  
          p.contact--content How can I help you! If you are a non-profit organization doing great and helping our communities strive, I'm here to help too. Please get in touch, let's make something awesome together!
          a(href=linkToContactForm rel="noopener").button-secondary.button-shadow help me!

section#sayhello.section
  .container
    +section-heading("say hello")
    p.l-content.l-centered.u-align-center.u-pad-bottom-half <strong>I don't bite!</strong> If you have a question, advice or simply want to say whazup, send me an email. I’ll be looking forward to hear from you! I promise I won’t be stalking you ;-)
    h3.contact--email
      a(href="mailto:"+email) hello.giolara@gmail.com
        
        
     
