
section#cv
  +section-heading('curriculum vitae')
  .cv.group
    .grid-2
      h3.cv--heading skills
    .grid-2.nopb
      ul.cv--content
        li HTML5
        li CSS3 &amp; SASS 
        li BEM, SMACS &amp; OOCSS
        li JS - can get by
        li jQuery &amp; alike plugins!
        li Frameworks: Foundation, Bootstrap &amp; 
          a(href=primalcssLink) primalCSS my favorite one ;)
        li Wireframing/Prototype
        li Adobe design suite and Affinity Designer
        li Responsive Web Design
        li GIT
        li Terminal (linux/unix!)
  .cv.group
    .grid-2
      h3.cv--heading Interests  
    .grid-2.nopb
      ul.cv--content
        li web development
        li arts
        li minimalism 
        li football (aka soccer)
        li wheelchair rugby aka murderball
        li social &amp; human rights
        li running
        li latin music, blues, soul, r&amp;b &amp; jazz
        li sciFi junkie
        li manga, anime and alike animation
  .cv.group
    .grid-2
      h3.cv--heading education
    .grid-2.nopb 
      ul.cv--content
        li
          .cv--date 2016
          .cv--degree web development a.a
          .cv--place San jose city college, san jose ca
       
        li
          .cv--date 2008
          .cv--degree Graphic design vocational certification
          .cv--place Metropolitan education district of santa clara, san jose ca
        li 
          .cv--date 2008
          .cv--degree h.s diploma
          .cv--place Mount pleasant h.s, san jose ca
  .cv.group
    .grid-2
      h3.cv--heading languages
    .grid-2.nopb
      ul.cv--content
        li 
          span.cv--degree Spanish 
          br
          span mother language
        li 
          span.cv--degree English
          br 
          span can get by 
