
section#cv.section.section_ligthslate
  .container
    +section-heading('CV')
    .cv.group
      .grid-2
        h3.cv--heading skills
        ul.cv--content
          li HTML
          li CSS &amp; SASS 
          li BEM, SMACS &amp; OOCSS
          li JS - can get by
          li jQuery &amp; alike plugins!
          li Frameworks: Foundation, Bootstrap &amp; 
            a(href=primalcssLink) primalCSS my favorite one ;)
          li Wireframing/Prototype
          li Adobe design suite and Affinity Designer
          li Responsive Web Design
          li GIT
          li Terminal (linux/unix!)
      .grid-2
        h3.cv--heading Interests  
        ul.cv--content
          li web development
          li arts
          li minimalism 
          li football (aka soccer)
          li wheelchair rugby aka murderball
          li social &amp; human rights
          li running
          li latin music, blues, soul, r&amp;b &amp; jazz
          li sciFi junkie
          li manga, anime and alike animation
    .cv.group
      .grid-2
        h3.cv--heading education
        ul.cv--content
          li
            .cv--date 2016
            .cv--title web development A.A
            .cv--blurb San jose city college, san jose ca
          li
            .cv--date 2008
            .cv--title Graphic design vocational certification
            .cv--blurb Metropolitan education district of santa clara, san jose ca
          li 
            .cv--date 2008
            .cv--title H.S diploma
            .cv--blurb Mount pleasant H.S, san jose ca
      .grid-2
        h3.cv--heading languages
        ul.cv--content
          li 
            .cv--title spanish 
            .cv--blurb mother language
          li 
            .cv--title English
            .cv--blurb can get by 
