//- Homepage
<!-- Header -->
.masthead
  .container
    header(role="banner") 
      include ../partials/_navigation.jade
    .banner
      h4 [ME]
      h1.banner--display bada55. Geek. SciFi Junkie. #{title}. Crazy Football Fan.
  <!-- End Header -->
