//- Homepage
<!-- Header -->
.masthead
  .container
    header(role="banner") 
      include ../partials/_navigation.jade
    .banner
      h4 [ME]
      h1.banner--display Geek. SciFi Junkie. #{title}. Programmer. Design. Crazy About Football.
  <!-- End Header -->
