//- Homepage
<!-- Header -->
header(role="banner").masthead#home
  .container
    include ../partials/_navigation.jade
    .hero
      h1.hero--title 
        span.hero--name #{author}
        br
        span.hero--sub-title Geek. SciFi Junkie. #{title}. Programmer. Designer &amp; aficionado of "The Beautiful Game" aka soccer.
  <!-- End Header -->
