//- header
<!-- Header -->
header(role="banner").container 
  a(href="#").brand.u-align-left  
    span.brand--logo giovanni
    span lara
  <!-- End Header -->
  include ../partials/_navigation.jade


//- h2#intro!= intro.replace(/soccer|california|beard|vegetarianism|run|fast|tech|design|programming|front|end|pretty|bad!|lol|/gi, function toBold(w){ return w.bold(); })
