section#projects
  h4.t-display-sub Projects
  ul.group.card
    li.grid-4.card--project.u-box
      h4.card--title primalCSS
      p.card--date nov 2016
      p Minimal css framework designed to survive responsive web development
      a(href=primalcssLink).button-secondary  Visit project
    
