section#projects.section
  .container
    +section-heading('Projects')
    ul.l-content.l-centered
      each prod in projects
        li.project
          h4.project--date= prod.date 
          h3(class="project--title_" + prod.theme)= prod.title
          p= prod.description
          a(href=prod.link).button-secondary.button-shadow  Visit project 
