section#projects
  +section-heading('Projects')
  ul
    each prod in projects
      li.group
        div(class="card card--project-"+ prod.theme +" u-box")
          h4.card--title= prod.title
          p.card--date= prod.date 
          p= prod.description
          a(href=prod.link).button-secondary  Visit project 
