header#header.l-table.text-center
  .container.l-table-center
    .intro
      #logo.l-push-double
        img(src=logoPath, alt=fullName).xl-icon.l-inline
      h1= fullName
      h5.subheading= role
      br
      //- .btn-round.btn-primary#cta Learn More
      span(role="button" aria-pressed="false")#cta 
        span.uppercase.milli Learn More
        br
        span &#8595
