//- Site data and components
include ./../data/_data-cms.jade
include _mixins.jade
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js" lang="") <!--<![endif]-->
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,IE=9,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="description" content= description)
        meta(name="keywords" content= keywords)
        title= title
        link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
        <!-- STYLES -->
        style.
          @import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);body,html{min-height:100%}#main,body{background-color:#001118}a{background-color:transparent;color:#009AB8;text-decoration:none}img{border:0;max-width:100%;height:auto}input{color:inherit;font:inherit;margin:0;line-height:normal}input::-moz-focus-inner{border:0;padding:0}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;box-sizing:border-box;font-size:1.125em;font-family:Lato,Helvetica,sans-serif}body{margin:0;color:#CCC;overflow-x:hidden;font-weight:400;line-height:1.45}*,:after,:before{box-sizing:inherit}p{letter-spacing:.075rem;margin-bottom:1.3em}h1,p,span{margin:1.414em 0 .5em;font-weight:inherit}h1{margin-top:0;font-size:3.051em;line-height:1.4254}@media (min-width:300px){html{font-size:90%}}@media (min-width:750px){html{font-size:110%}}@media (min-width:1000px){html{font-size:110%}}@media (min-width:1200px){html{font-size:100%}}@media (max-device-width:568px) and (-webkit-device-pixel-ratio:2){html{font-size:90%}}#main{padding-top:1.125rem;-webkit-backface-visibility:visible!important;backface-visibility:visible!important;-webkit-transform:translateZ(0);transform:translateZ(0)}@media (max-device-width:667px) and (-webkit-device-pixel-ratio:2){html{font-size:100%}#header{height:667px}}@media (min-device-width:414px) and (-webkit-device-pixel-ratio:3){html{font-size:110%}#header{height:736px}}@media (min-width:550px){#header{min-height:80vh}}@media (min-width:750px){#header{min-height:60vh}}@media (min-width:1200px){#header{min-height:100%;height:100vh}}@media (max-width:360px){#header{height:640px}}@media (max-width:320px){#header{height:480px}}
        <!-- build:css css/main.min.css -->
        link(rel="stylesheet" href="css/all.css")
        link(rel="stylesheet" href="css/print.css")
        <!-- END STYLES -->
        <!-- endbuild -->
    body
        <!--[if lt IE 8]>
        <p class="browserupgrade"><span>Oops! Something went wrong.</span> <br> You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        //- include site markup
        
        include _landing-page.jade 
        #main
          include _about-page.jade
          include _footer.jade
        <!-- JAVASCRIPTS -->
        <!-- critical js -->
        <!-- end critical js -->
        <!-- build:js js/main.min.js -->
        //- script(type="text/javascript" src="js/lib/svg4everybody.js")
        script(type="text/javascript" src="js/lib/TweenMax.js")
        script(type="text/javascript" src="js/lib/ScrollToPlugin.js")
        script(type="text/javascript" src="js/app.js")
        <!-- END JAVASCRIPTS -->
        <!-- endbuild -->
