//- Site data and components
include ./../data/_data-cms.jade
include _mixins.jade
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
html(class="no-js" lang="") <!--<![endif]-->
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,IE=9,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="description" content= description)
        meta(name="keywords" content= keywords)
        title= title
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,300")
        link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
        <!-- STYLES -->
        link(rel="stylesheet")     
        <!-- build:css css/main.min.css -->
        link(rel="stylesheet" href="css/print.css")    
        link(rel="stylesheet" href="css/all.css")
        <!-- END STYLES -->
        <!-- endbuild -->
    body
        <!--[if lt IE 8]>
        <p class="browserupgrade"><span class="peta l-push-half">Oops! Something went wrong.</span> <br> You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        //- include site markup
        
        include _landing-page.jade 
        #main
          include _about-page.jade
          include _footer.jade
        <!-- JAVASCRIPTS -->
        <!-- build:js js/main.min.js -->
        //- script(type="text/javascript" src="js/lib/svg4everybody.js")
        script(type="text/javascript" src="js/lib/TweenMax.js")
        script(type="text/javascript" src="js/lib/ScrollToPlugin.js")
        script(type="text/javascript" src="js/app.js")
        <!-- END JAVASCRIPTS -->
        <!-- endbuild -->
        include _googleAnalytics.jade
