//- ------------------
//- Site configuration
//- ------------------

//- JS Helpers 
-var date = new Date();

//- Development config 
- var development = true;
- var baseurl = ( development ) ? "http://localhost:8000/primalCSS/css/" : "http://www.giovannilara.com/primalCSS/" ;

//- Project
-var version = 1;
-var year = date.getFullYear();
-var author = "Giovanni Lara";
-var alias = "Gio";
-var title = "Knows Tech Stuff";
-var intro = "I'm a hopefull front-end developer from California. I do tech, design, programming stuff and everything in the middle.";
//- TODO: Hire me when hover overlay smally face with a cachie phrase: 1. hire me you know you want to 2. hire me i'm awesome 3. hire me ...please 4. hire me i got the css html js gulp git design i'll buy you lunch 5. if you hire me all your dreams will come true -- napoleon dynamite

//- Assets

//-var path = "http://localhost:8000/primalCSS/css/";
-var pathToNormalize = baseurl + "normalize.min.css";
-var pathToReset = baseurl + "reset.min.css";
-var pathToPrimal = baseurl + "primal.min.css";
-var pathToCustomeStyles = "build/css/styles-dist.css";
-var pathToJs = "build/js/app-dist.js";
-var pathToProfileImg = "build/images/profile-img.jpg";
//- fontsLink
-var fontsLink = "https://fonts.googleapis.com/css?family=Abel|Open+Sans:300i,300,700";
//- Links
-var email = "hello.giolara@gmail.com";
-var github = "https://github.com/gioalo";
-var codepen = "http://codepen.io/Giovanni";
-var linkedin = "https://www.linkedin.com/pub/giovanni-lara/103/619/a7b";

//- PROJECTS 

-var projects = [{id:1, img:'UI001.jpeg'} , {id:2, img:'UI002.jpeg'} , {id:3, img:'UI003.png'} , {id:4, img:'UI004.png'} , {id:5, img:'UI005.jpeg'}, {id:6, img:'UI006.jpeg'}, {id:7, img:'UI007.jpeg'}, {id:8, img:'UI008.jpeg'}, {id:9, img:'UI009.png'}, {id:10, img:'UI010.png'}];
