//- ------------------
//- Site configuration
//- ------------------

//- JS Helpers 
-var date = new Date();

//- Development config 
- var development = true;
- var baseurl = ( development ) ? "http://localhost:7880/css/" : "http://www.giovannilara.com/primalCSS/" ;

//- Project
-var version = 1;
-var year = date.getFullYear();
-var author = "Giovanni Lara";
-var alias = "Gio";
-var title = "Knows Tech Stuff";
-var lead = "Hello there, I'm " + author +" enthuciastic front-end developer from California.";
-var intro = "I do tech, design, programming stuff and almost everything in between. I have experience in web technologies such as HTML5, CSS3 and JavaScript.";
//- TODO: Hire me when hover overlay smally face with a cachie phrase: 1. hire me you know you want to 2. hire me i'm awesome 3. hire me ...please 4. hire me i got the css html js gulp git design i'll buy you lunch 5. if you hire me all your dreams will come true -- napoleon dynamite

//- Assets

//-var path = "http://localhost:8000/primalCSS/css/";
-var pathToNormalize = baseurl + "normalize.min.css";
-var pathToReset = baseurl + "reset.min.css";
-var pathToPrimal = baseurl + "primal.min.css";
-var pathToCustomeStyles = "build/css/styles-dist.css";
-var pathToJs = "build/js/app-dist.js";
-var pathToProfileImg = "build/images/profile-img.jpg";
//- fontsLink
-var fontsLink = "https://fonts.googleapis.com/css?family=Rajdhani|Open+Sans:300i,300,700";
//- Links
-var email = "hello.giolara@gmail.com";
-var primalcssLink = "http://www.giovannilara.com/primalCSS/";
-var links = [{id:"github", href:"https://github.com/gioalo"},{id:"codepen", href:"http://codepen.io/Giovanni"}, {id:"instagram", href:"https://www.instagram.com/giorivas1010/"},{id:"youtube-play", href:"https://www.youtube.com/user/2media10"}, {id:"linkedin",href:"https://www.linkedin.com/in/giovanni-lara-0101"}]
//- PROJECTS 
