//- ------------------
//- Site configuration
//- ------------------

//- JS Helpers 
-var date = new Date();

//- Project
-var version = 1;
-var year = date.getFullYear();
-var author = "Giovanni Lara";
-var alias = "Gio";
-var title = "Front-end Developer";
-var intro = "I'm a humble front end developer from California. I have a thing for tech, design and programming. I play soccer, sometimes I let my beard grow, I coverted to vegetarianism, I can run fast (Beep Beep!), and I can dance (not really, I'm pretty bad! LOL)";
//- TODO: Hire me when hover overlay smally face with a cachie phrase: 1. hire me you know you want to 2. hire me i'm awesome 3. hire me ...please 4. hire me i got the css html js gulp git design i'll buy you lunch 5. if you hire me all your dreams will come true -- napoleon dynamite

//- Assets
-var path = "http://localhost:8000/primalCSS/css/";
-var pathToNormalize = path + "normalize.min.css";
-var pathToReset = path + "reset.min.css";
-var pathToPrimal = path + "primal.min.css";
-var pathToCustomeStyles = "build/css/styles-dist.css";
//- fontsLink
-var fontsLink = "https://fonts.googleapis.com/css?family=Abel|Open+Sans:300i,300,700";
//- Links
-var email = "hello.giolara@gmail.com";
-var github = "https://github.com/gioalo";
-var codepen = "http://codepen.io/Giovanni";
-var linkedin = "https://www.linkedin.com/pub/giovanni-lara/103/619/a7b";
