//- ------------------
//- Site configuration
//- ------------------

//- JS Helpers 
-var date = new Date();

//- Development config 
- var development = false;
- var baseurl = ( development ) ? "http://localhost:7880/css/" : "http://giovannilara.com/primalCSS/css/" ;

//- Project
-var version = 1;
-var year = date.getFullYear();
-var author = "Giovanni Lara";
-var alias = "Gio";
-var keywords = "web development, front-end, design, programmer, html, css, js, developer";
-var description = "Hola, my name is Giovanni Lara front-end developer from California!";
-var title = "Knows Tech Stuff";
-var lead = "Hola, my name is " + author +" (aka Gio) enthusiastic front-end developer from California.";
-var intro = "I can craft websites, design, can do programming stuff and almost everything in between. Learn to program in my early twenties but I've been breaking/fixing computers since my adolescence. I have experience in web technologies such as HTML5, CSS3 and JavaScript.";


//- Assets

-var pathToNormalize = baseurl + "normalize.min.css";
-var pathToReset = baseurl + "reset.min.css";
-var pathToPrimal = baseurl + "primal.min.css";
-var pathToCustomeStyles = "build/css/styles-dist.css";
-var pathToJs = "build/js/app-dist.js";

//- fontsLink
-var fontsLink = "https://fonts.googleapis.com/css?family=Rajdhani|Open+Sans:300i,300,700";
//- Links
-var email = "hello.giolara@gmail.com";
-var linkToContactForm = "https://goo.gl/forms/oZZJCWU6Pln3j05p1";
-var primalcssLink = "http://www.giovannilara.com/primalCSS/";
-var links = [{id:"github", href:"https://github.com/gioalo"},{id:"codepen", href:"http://codepen.io/Giovanni"}, {id:"instagram", href:"https://www.instagram.com/giorivas1010/"},{id:"youtube-play", href:"https://www.youtube.com/user/2media10"}, {id:"linkedin",href:"https://www.linkedin.com/in/giovanni-lara-0101"}]
//- PROJECTS 
