//- ------------------
//- Site configuration
//- ------------------

//- JS Helpers 
-var date = new Date();

//- Development config 
- var development = false;
- var baseurl = ( development ) ? "http://localhost:7880/css/" : "http://giovannilara.com/primalCSS/css/" ;

//- Project
-var version = 2;
-var year = date.getFullYear();
-var author = "Giovanni Lara";
-var alias = "Gio";
-var keywords = "web development, front-end, design, programmer, html, css, js, developer";
-var description = "Hola, my name is Giovanni Lara Jr.front-end developer from California!";
-var title = "Jr Front End Dev";
-var lead = "Hola, my name is " + author +" (aka Gio) enthusiastic and motivated Jr. Front End Dev from California.";
-var intro = "I can craft websites and design minimal experiences. I have experience in web technologies such as HTML, CSS and JavaScript.";


//- Assets

-var pathToNormalize = baseurl + "normalize.min.css";
-var pathToReset = baseurl + "reset.min.css";
-var pathToPrimal = baseurl + "primal.min.css";
-var pathToCustomeStyles = "build/css/styles-dist.css";
-var pathToJs = "build/js/app-dist.js";

//- fontsLink
-var fontsLink = "https://fonts.googleapis.com/css?family=Rajdhani|Open+Sans:300i,300,700";
//- Links
-var email = "hello.giolara@gmail.com";
-var linkToContactForm = "https://goo.gl/forms/oZZJCWU6Pln3j05p1";
-var primalcssLink = "http://www.giovannilara.com/primalCSS/";
-var webKit = "http://giovannilara.com/web-starter-kit/"
-var links = [{id:"github", href:"https://github.com/gioalo"},{id:"codepen", href:"http://codepen.io/Giovanni"}, {id:"instagram", href:"https://www.instagram.com/giokirito/"}, {id:"linkedin",href:"https://www.linkedin.com/in/giovanni-lara-0101"}]

//- ,{id:"youtube-play", href:"https://www.youtube.com/user/2media10"}

//- PROJECTS 

- var projects = [{ title:'primalCSS framework', date:'Nov 2016', description:'Minimal css framework designed to survive responsive web development', link:primalcssLink,theme:'icecube' }, { title:'Primal Web Starter Kit v1', date:'Nov 2017', description:'Get up and running fast. Web starter kit design with PugJS, PrimalCSS and Google Fonts. Design. Code. Run. Repeat!', link:webKit,theme:'badass' }]
