//- ------------------
//- Site configuration
//- ------------------

//- JS Helpers 
-var date = new Date();

//- Development config 
- var development = false;
- var baseurl = ( development ) ? "http://localhost:7880/css/" : "http://giovannilara.com/primalCSS/css/" ;

//- Project
-var version = 2;
-var year = date.getFullYear();
-var author = "Giovanni Lara";
-var alias = "Gio";
-var keywords = "web development, front-end, design, programmer, html, css, js, developer";
-var description = "Hola, my name is Giovanni Lara Jr.front-end developer from California!";
-var title = "Jr Front End Dev";
-var lead = "Hola, my name is " + author +" (aka Gio) enthusiastic...";
-var intro = "I can help you build your next awesome website. I craft websites you know! I build this website from scratch, look around and let me know if you like it or not (I won't get mad ^_^). I love to design intuitive visual user interfaces with minimalistic aesthetics. I’m also a web performance geek."
-var colorTheme = "#1565C0";

//- Assets

-var pathToNormalize = baseurl + "normalize.min.css";
-var pathToReset = baseurl + "reset.min.css";
-var pathToPrimal = baseurl + "primal.min.css";
-var pathToCustomeStyles = "build/css/styles-dist.css";
-var pathToJs = "build/js/app-dist.js";
-var favicon = "favicon-32x32.png";
//- fontsLink
-var fontsLink = "https://fonts.googleapis.com/css?family=Rajdhani|Open+Sans:300i,300,700";
//- Links
-var email = "hello.giolara@gmail.com";
-var linkToContactForm = "https://goo.gl/forms/oZZJCWU6Pln3j05p1";
-var primalcssLink = "http://www.giovannilara.com/primalCSS/";
-var webKit = "http://giovannilara.com/web-starter-kit/"
-var links = [{id:"github", href:"https://github.com/gioalo"},{id:"codepen", href:"http://codepen.io/Giovanni"}, {id:"instagram", href:"https://www.instagram.com/giokirito/"}, {id:"linkedin",href:"https://www.linkedin.com/in/giovanni-lara-0101"}]

//- ,{id:"youtube-play", href:"https://www.youtube.com/user/2media10"}

//- PROJECTS 

- var projects = [{title: 'Landing page: Coming soon theme', date:'July 2015', description:'A landing webpage with a hero image and CTA button.', link:'https://codepen.io/Giovanni/full/doqQwZ/', theme:'july'},{title:'Resume theme', date:'oct 2016', description:'A personal/resume website with a punchline.', link:'https://codepen.io/Giovanni/full/amQpxo/', theme:'oct'},{ title:'primalCSS framework', date:'Nov 2016', description:'Minimal css framework designed to survive responsive web development.', link:primalcssLink,theme:'nov' }, { title:'Primal Web Starter Kit v1', date:'Dec 2017', description:'Get up and running fast. Web starter kit design with PugJS, PrimalCSS and Google Fonts.', link:webKit,theme:'dec'}, {title:'2018 World Cup countdown page', date:'Jan 2018', description:'A website with a countdown for the 2018 world cup event', link:'https://codepen.io/Giovanni/full/EQjGQN/', theme:'jan'}, {title:'Primal Px2Em Conversion Web Tool', date:'Feb 2018', description:'Just another pixel to em conversion tool. The functionality is build with vanilla javaScript.', link:'https://codepen.io/Giovanni/full/rJdaxm', theme:'feb'}, {title:'Free Portfolio theme', date:'March 2018', description:"A clean modern portfolio theme I build at CodePen check it out, it's free!", link:'https://codepen.io/Giovanni/full/eMYyoo', theme:'march'}]
