//- ------------------
//- Site configuration
//- ------------------

//- Project
-var version = 1;
-var date = new Date();
-var year = date.getFullYear();
-var author = "Giovanni Lara";
-var alias = "Gio";
-var title = "Front-end Developer";
-var intro = "I'm a <strong>humble front end developer</strong> and geek from California. I have a thing for tech and programming. About him, he plays soccer, has a beard, is vegetarian, he doesn't know how dance (he is not perfect!), runs fast Beep Beep!";

//- Assets
-var path = "http://localhost:8000/primalCSS/css/";
-var pathToNormalize = path + "normalize.min.css";
-var pathToReset = path + "reset.min.css";
-var pathToPrimal = path + "primal.min.css";
-var pathToCustomeStyles = "";

//- Links
-var email = "hello.gioalo@gmail.com";
